workflow/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "soc_assistant",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "15c4329b-b0b5-4a04-9476-38d57037d1cc",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -800,
        512
      ],
      "typeVersion": 2.1,
      "webhookId": "884d55ef-8f6b-43b4-97d1-7074a82705dh"
    },
    {
      "parameters": {
        "content": "![Chatbot](https://i.imgur.com/chatbot.png)\n## Security Chatbot Workflow\n\nThis n8n workflow implements a security-focused chatbot that analyzes incoming messages for security-related content.\n\nThe workflow receives messages via webhook, analyzes them for security keywords, and provides appropriate responses using AI.\n\nIt ensures that only security-related queries are answered, maintaining focus on cybersecurity topics.\n\n## Features\n\n- Message analysis for security keywords\n- AI-powered security responses\n- Non-security query filtering\n- Webhook-based communication",
        "height": 400,
        "width": 436
      },
      "id": "4623cfb1-e53a-47b0-90b4-480cc8492cef",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "You are SOAR SOC Assistant, an AI-powered cybersecurity analyst.\nYour role is to analyze events, generate concise reports, identify bugs, and explain the cause of security incidents.\nKeep responses formal, precise, and friendly — avoid unnecessary conversation.\nAlways provide point-to-point answers focused on cybersecurity context only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        544,
        928
      ],
      "id": "c87270d0-dd5e-4124-a813-fb2adb3baba7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        624,
        1152
      ],
      "id": "9a542cff-52fb-4237-b7f4-d11a2bdab06c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "mabwr7VWHj6LcVsN",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1632,
        528
      ],
      "id": "461ecb8f-d0ac-47e4-b793-6ce1b5c0c34c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Extract message from either webhook or chat trigger\n  const message = item.json.message || item.json.chatInput || '';\n  \n  // Regex patterns for IOC detection\n  const ipv4Pattern = /\\b(?:[0-9]{1,3}\\.){3}[0-9]{1,3}\\b/g;\n  const ipv6Pattern = /\\b(?:[0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}\\b|\\b(?:[0-9a-fA-F]{1,4}:){1,7}:\\b|\\b(?:[0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}\\b/g;\n  const urlPattern = /https?:\\/\\/[^\\s]+/gi;\n  const domainPattern = /\\b(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\\.)+[a-z]{2,}\\b/gi;\n  \n  // Detect IOCs\n  const ipv4Matches = message.match(ipv4Pattern) || [];\n  const ipv6Matches = message.match(ipv6Pattern) || [];\n  const urlMatches = message.match(urlPattern) || [];\n  const domainMatches = message.match(domainPattern) || [];\n  \n  // Combine IP addresses\n  const allIps = [...ipv4Matches, ...ipv6Matches];\n  \n  // Combine URLs and domains\n  const allUrls = [...urlMatches, ...domainMatches];\n  \n  // Determine type and detected value\n  let iocType, detectedValue;\n  \n  if (allIps.length > 0) {\n    iocType = 'ip';\n    detectedValue = allIps[0]; // Take first IP found\n  } else if (allUrls.length > 0) {\n    iocType = 'url';\n    detectedValue = allUrls[0]; // Take first URL found\n  } else {\n    iocType = 'general';\n    detectedValue = message;\n  }\n  \n  results.push({\n    json: {\n      type: iocType,\n      input: message,\n      detected_value: detectedValue\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "b87caf00-e867-49f9-97ea-80a420849783",
      "name": "IOC Detector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        608
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "condition-0",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "ip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "condition-1",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "url",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "condition-2",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "12d1e773-f7d3-4661-9b46-cfb91be41163",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -352,
        592
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.detected_value }}",
        "additionalFields": {}
      },
      "id": "06e3c2d0-7b62-40d9-85c7-f80106a44182",
      "name": "URLScan Submit",
      "type": "n8n-nodes-base.urlScanIo",
      "typeVersion": 1,
      "position": [
        -128,
        512
      ],
      "credentials": {
        "urlScanIoApi": {
          "id": "2MOcCb9fPD2MToZK",
          "name": "urlscan.io account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "9d12d1be-9c2d-49dd-8a7e-bfb75a14de83",
      "name": "Wait for Scan",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        96,
        512
      ],
      "webhookId": "f41a1a56-d47c-45c9-89be-4b6723fba493"
    },
    {
      "parameters": {
        "operation": "get",
        "scanId": "={{ $json.uuid }}"
      },
      "id": "39ef2aa4-fa1f-4ffe-ad5e-0dd4e6467f0a",
      "name": "URLScan Get Result",
      "type": "n8n-nodes-base.urlScanIo",
      "typeVersion": 1,
      "position": [
        320,
        512
      ],
      "credentials": {
        "urlScanIoApi": {
          "id": "2MOcCb9fPD2MToZK",
          "name": "urlscan.io account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.virustotal.com/api/v3/urls",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.detected_value }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9e1b0945-fe09-4f6f-9254-9bd3810fc048",
      "name": "VirusTotal Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        704
      ],
      "credentials": {
        "virusTotalApi": {
          "id": "EnFRLRcHvv0onlNP",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.virustotal.com/api/v3/analyses/{{ $json.data.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "options": {}
      },
      "id": "dfb244ed-11dd-4081-a99b-849d81d903b9",
      "name": "VirusTotal Get Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        704
      ],
      "credentials": {
        "virusTotalApi": {
          "id": "EnFRLRcHvv0onlNP",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "f596f1c6-598c-4dda-9e76-5692b90c9403",
      "name": "Merge URL Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nconst originalData = $('IOC Detector').first().json;\n\n// Get Shodan and Microsoft Defender data from merged inputs\nconst shodanData = input[0]?.json || {};\nconst defenderData = input[1]?.json || {};\n\n// Check if Microsoft Defender data is available\nconst hasDefenderData = defenderData && Object.keys(defenderData).length > 0 && \n  (defenderData.riskScore !== undefined || defenderData.threatScore !== undefined || \n   defenderData.reputation !== undefined || defenderData.category !== undefined);\n\n// Extract Shodan information\nconst shodanOrg = shodanData.org || 'Unknown';\nconst shodanIsp = shodanData.isp || 'Unknown';\nconst shodanCountry = shodanData.country_name || shodanData.country_code || 'Unknown';\nconst shodanCity = shodanData.city || 'Unknown';\nconst shodanRegion = shodanData.region_code || 'Unknown';\nconst shodanPorts = shodanData.ports || [];\nconst shodanHostnames = shodanData.hostnames || [];\nconst shodanVulns = shodanData.vulns || [];\nconst shodanAsn = shodanData.asn || 'Unknown';\nconst shodanLastUpdate = shodanData.last_update || 'Unknown';\n\n// Extract Microsoft Defender information (only if available)\nlet defenderRiskScore = 0;\nlet defenderReputation = 'Unknown';\nlet defenderCategory = 'Unknown';\nlet defenderTags = [];\nlet defenderFirstSeen = 'Unknown';\nlet defenderLastSeen = 'Unknown';\n\nif (hasDefenderData) {\n  defenderRiskScore = defenderData.riskScore || defenderData.threatScore || 0;\n  defenderReputation = defenderData.reputation || 'Unknown';\n  defenderCategory = defenderData.category || 'Unknown';\n  defenderTags = defenderData.tags || [];\n  defenderFirstSeen = defenderData.firstSeenDateTime || 'Unknown';\n  defenderLastSeen = defenderData.lastSeenDateTime || 'Unknown';\n}\n\n// Create comprehensive summary\nlet summary = `IP Analysis for ${originalData.detected_value}:\\n\\n`;\n\n// Shodan Information\nsummary += `=== Shodan Intelligence ===\\n`;\nsummary += `Organization: ${shodanOrg} | ISP: ${shodanIsp}\\n`;\nsummary += `Location: ${shodanCity}, ${shodanRegion}, ${shodanCountry}\\n`;\nsummary += `ASN: ${shodanAsn} | Last Update: ${shodanLastUpdate}\\n`;\nsummary += `Open Ports: ${shodanPorts.length > 0 ? shodanPorts.join(', ') : 'None detected'}\\n`;\nsummary += `Hostnames: ${shodanHostnames.length > 0 ? shodanHostnames.join(', ') : 'None'}\\n`;\nsummary += `Vulnerabilities: ${shodanVulns.length > 0 ? shodanVulns.length + ' found' : 'None detected'}\\n\\n`;\n\n// Microsoft Defender Information (only if available)\nif (hasDefenderData) {\n  summary += `=== Microsoft Defender Intelligence ===\\n`;\n  summary += `Risk Score: ${defenderRiskScore}/100\\n`;\n  summary += `Reputation: ${defenderReputation} | Category: ${defenderCategory}\\n`;\n  summary += `Tags: ${defenderTags.length > 0 ? defenderTags.join(', ') : 'None'}\\n`;\n  summary += `First Seen: ${defenderFirstSeen} | Last Seen: ${defenderLastSeen}\\n\\n`;\n} else {\n  summary += `=== Microsoft Defender Intelligence ===\\n`;\n  summary += `Status: Data unavailable or not configured\\n\\n`;\n}\n\n// Risk Assessment\nsummary += `=== Risk Assessment ===\\n`;\nlet riskLevel = 'LOW';\nlet riskIndicators = [];\n\nif (hasDefenderData && (defenderRiskScore > 75 || shodanVulns.length > 5)) {\n  riskLevel = 'HIGH';\n  riskIndicators.push('High risk score or multiple vulnerabilities');\n} else if (!hasDefenderData && shodanVulns.length > 5) {\n  riskLevel = 'HIGH';\n  riskIndicators.push('Multiple vulnerabilities detected');\n}\n\nif (shodanVulns.length > 0) {\n  riskIndicators.push(`${shodanVulns.length} vulnerabilities detected`);\n}\n\nif (shodanPorts.length > 10) {\n  riskIndicators.push('Multiple open ports detected');\n  if (riskLevel === 'LOW') riskLevel = 'MODERATE';\n}\n\nif (hasDefenderData && (defenderReputation === 'Malicious' || defenderCategory === 'Malicious')) {\n  riskLevel = 'HIGH';\n  riskIndicators.push('Flagged as malicious by Microsoft Defender');\n}\n\nif (riskIndicators.length === 0) {\n  riskIndicators.push('No significant threats detected');\n}\n\nsummary += `Risk Level: ${riskLevel}\\n`;\nsummary += `Indicators: ${riskIndicators.join(', ')}\\n`;\n\nif (riskLevel === 'HIGH') {\n  summary += '\\n⚠️ DANGER: This IP poses a significant security risk!';\n} else if (riskLevel === 'MODERATE') {\n  summary += '\\n⚠️ WARNING: This IP shows suspicious indicators.';\n} else {\n  summary += '\\n✓ SAFE: No significant threats detected.';\n}\n\n// Build response details object\nconst responseDetails = {\n  shodan: {\n    organization: shodanOrg,\n    isp: shodanIsp,\n    country: shodanCountry,\n    city: shodanCity,\n    region: shodanRegion,\n    asn: shodanAsn,\n    open_ports: shodanPorts,\n    hostnames: shodanHostnames,\n    vulnerabilities: shodanVulns,\n    last_update: shodanLastUpdate\n  },\n  risk_assessment: {\n    level: riskLevel,\n    indicators: riskIndicators\n  }\n};\n\n// Only include Microsoft Defender data if available\nif (hasDefenderData) {\n  responseDetails.microsoft_defender = {\n    risk_score: defenderRiskScore,\n    reputation: defenderReputation,\n    category: defenderCategory,\n    tags: defenderTags,\n    first_seen: defenderFirstSeen,\n    last_seen: defenderLastSeen\n  };\n} else {\n  responseDetails.microsoft_defender = {\n    status: 'unavailable'\n  };\n}\n\nreturn [{\n  json: {\n    type: 'ip',\n    input: originalData.input,\n    response: JSON.stringify({\n      type: 'ip',\n      input: originalData.input,\n      result: {\n        summary: summary,\n        details: responseDetails\n      }\n    }, null, 2)\n  }\n}];"
      },
      "id": "be372aa2-4d65-4216-a863-acc021ed7f76",
      "name": "Format IP Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nconst urlscan = input[0].json;\nconst virustotal = input[1].json;\nconst originalData = $('IOC Detector').first().json;\n\n// Extract key information\nconst vtStats = virustotal.data?.attributes?.stats || {};\nconst malicious = vtStats.malicious || 0;\nconst suspicious = vtStats.suspicious || 0;\nconst harmless = vtStats.harmless || 0;\nconst undetected = vtStats.undetected || 0;\n\nconst urlscanVerdict = urlscan.verdicts?.overall?.score || 0;\nconst urlscanMalicious = urlscan.verdicts?.overall?.malicious || false;\n\n// Create summary\nlet summary = `URL Analysis for ${originalData.detected_value}:\\n`;\nsummary += `VirusTotal: ${malicious} malicious, ${suspicious} suspicious, ${harmless} harmless\\n`;\nsummary += `URLScan Score: ${urlscanVerdict}/100 | Malicious: ${urlscanMalicious}`;\n\nif (malicious > 0 || urlscanMalicious) {\n  summary += '\\n⚠️ DANGER: This URL is flagged as malicious!';\n} else if (suspicious > 5) {\n  summary += '\\n⚠️ WARNING: This URL shows suspicious indicators.';\n} else {\n  summary += '\\n✓ SAFE: No significant threats detected.';\n}\n\nreturn [{\n  json: {\n    type: 'url',\n    input: originalData.input,\n    response: JSON.stringify({\n      type: 'url',\n      input: originalData.input,\n      result: {\n        summary: summary,\n        details: {\n          virustotal: {\n            malicious: malicious,\n            suspicious: suspicious,\n            harmless: harmless,\n            undetected: undetected\n          },\n          urlscan: {\n            score: urlscanVerdict,\n            malicious: urlscanMalicious,\n            url: urlscan.page?.url,\n            screenshot: urlscan.screenshot\n          }\n        }\n      }\n    }, null, 2)\n  }\n}];"
      },
      "id": "01ff91ce-c99f-411a-8023-5b56a41959ee",
      "name": "Format URL Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json.output;\nconst originalData = $('IOC Detector').first().json;\n\nreturn [{\n  json: {\n    type: 'general',\n    input: originalData.input,\n    response: JSON.stringify({\n      type: 'general',\n      input: originalData.input,\n      result: {\n        summary: 'SOC Assistant Response',\n        details: {\n          ai_response: aiResponse\n        }\n      }\n    }, null, 2)\n  }\n}];"
      },
      "id": "25655339-229d-4de8-81b8-d01ceaa7bd50",
      "name": "Format General Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        928
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -800,
        704
      ],
      "id": "7b7d6f18-19c5-4c91-8a9d-9b5aaf9eb42a",
      "name": "When chat message received",
      "webhookId": "0a76faf1-bc55-4797-aaae-8994ebad0914"
    },
    {
      "parameters": {
        "url": "=https://api.shodan.io/shodan/host/{{ $json.detected_value }}?key=04EVcZr9tWo5A4YygxVVvfD2x1s4A6KV",
        "options": {}
      },
      "id": "c9d74b9f-e256-4c6b-9609-7337df453211",
      "name": "Shodan Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.response }}",
        "options": {
          "systemMessage": "You have to generate report on the result only if the response is realted to ip and url if you get general text so give precise answer according to query"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1136,
        560
      ],
      "id": "1ec7ff10-6f95-4e4e-b679-52a84f8fb483",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1120,
        800
      ],
      "id": "b4c39b8f-48b2-4529-ade3-62ef02536bab",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "mabwr7VWHj6LcVsN",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "09c50ba5-bef7-4d95-941e-a927d979c69f",
      "name": "Format AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        544
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IOC Detector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IOC Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format General Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "IOC Detector": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Shodan Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "URLScan Submit",
            "type": "main",
            "index": 0
          },
          {
            "node": "VirusTotal Scan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URLScan Submit": {
      "main": [
        [
          {
            "node": "Wait for Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Scan": {
      "main": [
        [
          {
            "node": "URLScan Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URLScan Get Result": {
      "main": [
        [
          {
            "node": "Merge URL Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal Scan": {
      "main": [
        [
          {
            "node": "VirusTotal Get Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal Get Report": {
      "main": [
        [
          {
            "node": "Merge URL Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge URL Results": {
      "main": [
        [
          {
            "node": "Format URL Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format IP Response": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format URL Response": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format General Response": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shodan Lookup": {
      "main": [
        [
          {
            "node": "Format IP Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Format AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format AI Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "IOC Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5802b086-b603-46de-835a-f2c970ec6864",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "422636b3f5c443b35fa11e329b38d6950bc5f8d085d04d8143fdf17d816cdd13"
  },
  "id": "RcwFWMzPvGsrH5D1",
  "tags": []
}